<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../../partials/head.ejs %>
    <title>Dashboard</title>
  </head>
  <body>
    <div class="container">
      <table>
        <tr>
          <th>Account Name</th>
          <th>Account Type</th>
          <th>Bank</th>
          <th>Card Name</th>
        </tr>
        <% for(let i in account) { %>
          <tr>
            <td><a href="./<%= account[i].id %>"><%= account[i].account_name %></a></td>
            <td><a href="./<%= account[i].id %>"><%= account[i].account_type %></a></td>
            <td><a href="./<%= account[i].id %>"><%= account[i].bank %></a></td>
            <td><a href="./<%= account[i].id %>"><%= account[i].card_name %></a></td>
          </tr>
        <% } %>
      </table>
    </div>
  </body>
</html>