<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <% include ../partials/menu.ejs %>
    <div class="container">
      <h1>Welcome <%= user.username%>!
      </h1>
      <h3>First Name: <%= user.firstname%></h3>
      <h3>Last Name: <%= user.lastname%></h3>
      <h3>Email Address: <%= user.email%></h3>
      <h3>Age: <%= user.age%></h3>
      <h3>Accounts: 
        <ul>
          <% for(i in account){ %>
            <li><%= account[i].account_name %></li>
          <%}%>
        </ul>
      </h3>
      <a href="/users/<%= user.id %>/edit" class="waves-effect waves-light btn">Edit</a>
    </div>
  </body>
</html>